Http.get : String -> Decoder a -> Request a

Http.send : (Result Http.Error a -> msg) -> Request a -> Cmd msg

type Result a b
    = Ok a
    | Err b

Result is generic, like identity:
identity<T>: (input: T) => T