Http.get : String -> Decoder a -> Request a

Http.send : (Result Error a -> msg) -> Request a -> Cmd msg

type Result error value
    = Ok value
    | Err error

Result is generic, like identity:
identity<T>: (input: T) => T